/* A Free Design by Bryant Smith (bryantsmith.com) */

html, body {
text-align: center;
}
p {text-align: center;;}

body {
	margin: 0;
	padding: 0;
	background: #C1C1C1;
	background-image:url(images/background1.png);
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}


html, body {
text-align: center;
}
p {text-align: left;}

#page
{
  width:758px;
  padding-left:20px;
  padding-right:20px;
}





#pagetop
{
height:143px;
}

#pagetop h1
{
display:block;
float:left;
line-height:90px;
color:#FFFFFF;
text-align:left;
font-size:27px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
float:left;
margin-left:23px;
}
#menu
{
background-image:url(images/menu.png);
background-repeat:no-repeat;
width:940px;
height:69px;
float:center;
clear:both;
}
#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:900px;
}

#menu li {
	list-style: none;
	padding: 0px;
	display: inline;

}

#menu a {
	float: left;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 14px;
	font-size: 15px;
}

#menu a:hover{
	color:#BAD1F3;
	background: url(images/menuhov.jpg) no-repeat;
}



#pagetop ul {
	padding: 0px;
	list-style-type: none;
	height:21px;
	text-align:center;
	height:90px;
	overflow:hidden;
}
#pagetop ul li , #pagetop ul li a, #pagetop ul li a:visited{
	display:block;
	float:right;
	margin: 0px;
	text-align:center;
	line-height:100px;
	color:#FFFFFF;
	padding-left:5px;
	padding-right:5px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}

#pagetop ul li a:hover{
color:#65A9ED;
}

#container
{
  display: block;
  height:auto;
  position: relative;
  width: 940px;
}

#main
{
width:798px;
background:url(images/content_back1.png);
}

#mainpic
{
background-image:url(images/download.jpg);
background-repeat:no-repeat;
width:900px;
height:302px;
}

.yellow
{
color:	#808000

}


#main .content
{
width:650px;
text-align:center;
color:#000000;
word-spacing:3px;
}

#main .content p
{
margin-top:8px;
margin-bottom:8px;
}

#main .content h1
{
font-size:19px;
margin-bottom:12px;

}

.clear
{
clear:both;
}
table.minimalistBlack {
  border: 3px solid #000000;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.minimalistBlack tbody td {
  font-size: 13px;
}
